<div class="row">
  <h3> Pone estos banners en tu pagina</h3>
  <h2> {{activeProfile.name}} </h2>
  <div class="eight columns">
  <h1> 468 x 120 </h1>

  <iframe style="width: 468px; height: 120px; overflow: hidden; border: 0px; " ng-src="https://missing-io.herokuapp.com/apps/banners/468/{{activeProfile.shortName}}"></iframe>
  <div class="field">
    <textarea class="input textarea" placeholder="Textarea">
       <iframe style="width: 468px; height: 120px; overflow: hidden; border: 0px; " ng-src="https://missing-io.herokuapp.com/apps/banners/468/{{activeProfile.shortName}}"></iframe>
    </textarea>
  </div>
  <h1> 140 x 400</h1>

  <iframe style="width: 140px; height: 400px; overflow: hidden; border: 0px; " ng-src="https://missing-io.herokuapp.com/apps/banners/140/{{activeProfile.shortName}}"></iframe>
<div class="field">
    <textarea class="input textarea" placeholder="Textarea">
       <iframe style="width: 140px; height: 400px; overflow: hidden; border: 0px; " ng-src="https://missing-io.herokuapp.com/apps/banners/140/{{activeProfile.shortName}}"></iframe>
    </textarea>
  </div>
  </div>

      <h2>
       <div class="large success btn">
          <a ng-href="#/encontremos/{{activeProfile.shortName}}" >Volver</a>
        </div>
      </h2>
</div>
