
<div class="row">
 <h1>Personas Perdidas </h1>
</div>
<div class="row"  ng-show="onDetail">
    <div class="two columns">
      <div class="image circle">
        <img ng-src="{{activeProfile.photo}}"/>
      </div>
    </div>
    <div class="eight columns">
        <div class="row">
          <h2> Encontremos a  <strong>{{activeProfile.name}}</strong></h2>
          <h4> Despareció en {{activeProfile.place}} {{activeProfile.formatedSince}}  </h4>
          <h5 ng-show="activeProfile.now"> Hoy tiene {{activeProfile.now}} años </h5>
        </div>
        <div class="row">
            <h5><strong>Compartí ahora y ayuda</strong></h5>
             <ul class="socbtns">
              <li><div class="btn primary"><a ng-click="tweet()" href="">Twitter</a></div></li>
              <li><div class="btn facebook"><a ng-click="facebook()" href="">Facebook</a></div></li>
                <li><div class="btn secondary"><a href="">Agrega un banner!</a></div></li>
              <li><div class="btn danger"><a target="_blank" href="">Imprimi un poster</a></div></li>
            </ul>
        </div>
      </div>

    <div class="four columns">
      <h2>No te gusta?
       <div class="large success btn">
      <a href="" ng-click="backToMain()">Empeza de nuevo..</a>
      </div>
      </h2>
    </div>
</div>