
<div class="row top-search search">
  <h3> Ahora podés hacer tu aporte! </h3>
  <hr />
</div>
<div class="row search" ng-hide="hidemain()">
  <div class="row">
    <h4> Búsqueda Aleatoria: </h4>
    <a href="" class="search-btn" ng-click="showList()">Buscar</a>
  </div>
  <div class="row">
    <h4> Búsqueda por ciudad: </h4>
    <div class="field">
      <input class="large input" type="text" placeholder="Parana, Entre Rios, Buenos Aires" />
    </div>
    <a href="" class="search-btn"  ng-click="showList()">Buscar</a>
  </div>
</div>

<div class="row" ng-show="onSearch">
  <div class="row results empty" ng-show="list.length === 0">
    <h2><strong> No se encontraron resultados. </strong> </h2>
    <h3> ¿Conocés algún caso? </h3>
    <h4> Podes contactar a cualquiera de estas organizaciones </h4>
    <ul>
      <li> <h3> <a href="http://www.missingchildren.org.ar/" target="_blank">Missing Children</a> <small>0 800 333 5000</small> </h3></li>
       <li> <h3> <a href="http://http://www.personasperdidas.org.ar/" target="_blank">Red Solidaria</a> <small>(011) 4450-8204</small> </h3></li>
    </ul>
  </div>
  <div class="row results">
    <h3 ng-show="city"> Hay <strong>{{list.length}}</strong> personas que faltan en <span ng-show="city"> {{city}} </span></h3>
  </div>
  <div class="row results" ng-repeat="profile in list">
     <div class="two columns">
      <div class="image circle">
       <img ng-src="{{profile.photo}}"/>
      </div>
    </div>
    <div class="eleven columns">
    <h3>
        <a href="#/encontremos/{{profile.shortName}}">{{profile.name}}</a>
      </h3>
    </div>
  </div>

</div>