
<div class="row">
 <h1>Personas Perdidas </h1>
</div>
<div class="row" ng-hide="hidemain()">
  <h3> Busca un caso en el que ayudar </h3>
  <div class="six columns">
    <div class="large primary btn">
      <a href="" ng-click="showList()">Dame uno cualquiera</a></div>
  </div>
  <div class="six columns">
     <div class="large secondary btn">
      <a href="" ng-click="showList()">Dame uno en mi ciudad</a>
    </div>
    <div class="field">
      <input class="large input" type="text" placeholder="Text input" />
    </div>
  </div>
</div>


<div class="row" ng-show="onSearch">

  <div class="row" ng-show="list.length === 0">
    <h3><strong> No hay ningun dato :-( </strong> </h3>
    <h2> ¿Conocés algún caso? </h2>
    <h4> Podes contactar a cualquiera de estas organizaciones </h4>
    <ul>

    </ul>
  </div>
  <div class="row" ng-repeat="profile in list">
     <div class="two columns">
      <div class="image circle">
              <img ng-src="{{profile.photo}}"/>

      </div>
    </div>
    <div class="eleven columns">
    <h3>
        <a href="" ng-click="showProfile(profile)">{{profile.name}}</a>
      </h3>
    </div>
  </div>

</div>
<div class="row"  ng-show="onDetail">
    <div class="two columns">
      <div class="image circle">
        <img ng-src="{{activeProfile.photo}}"/>
      </div>
    </div>
    <div class="eight columns">
        <div class="row">
          <h2> <strong> {{activeProfile.name}}</strong></h2>
          <h4> Despareció hace en 13 años </h4>
          <h5> Hoy debe tener 15 años </h5>
        </div>
        <div class="row">
             <ul class="socbtns">
              <li><div class="btn twitter"><a target="_blank" href="">Twitter</a></div></li>
              <li><div class="btn facebook"><a target="_blank" href="">Facebook</a></div></li>
                <li><div class="btn primary"><a target="_blank" href="">Agrega un banner!</a></div></li>
              <li><div class="btn danger"><a target="_blank" href="">Imprimi un poster</a></div></li>
            </ul>
        </div>
      </div>

    <div class="four columns">
      <h2>No te gusta?
       <div class="large success btn">
      <a href="" ng-click="backToMain()">Empeza de nuevo..</a>
      </div>
      </h2>
    </div>
</div>