
<div class="row">
 <h1>Personas Perdidas </h1>
</div>
<div class="row" ng-hide="hidemain()">
  <h3> Busca un caso en el que ayudar </h3>
  <div class="six columns">
    <div class="large primary btn">
      <a href="" ng-click="showList()">Dame uno cualquiera</a></div>
  </div>
  <div class="six columns">
     <div class="large secondary btn">
      <a href="" ng-click="searchby()">Dame uno en mi ciudad</a>
    </div>
    <div class="field">
      <input ng-model="city" class="large input" type="text" placeholder="Parana" />
    </div>
  </div>
</div>


<div class="row" ng-show="onSearch">

  <div class="row" ng-show="list.length === 0">
    <h3><strong> No hay ningun dato <span ng-show="city"> para {{city}} </span> :-( </strong> </h3>
    <h2> ¿Conocés algún caso? </h2>
    <h4> Podes contactar a cualquiera de estas organizaciones </h4>
    <ul>
      <li> <h3> <a href="http://www.missingchildren.org.ar/" target="_blank">Missing Children</a> <small>0 800 333 5000</small> </h3></li>
       <li> <h3> <a href="http://http://www.personasperdidas.org.ar/" target="_blank">Red Solidaria</a> <small>(011) 4450-8204</small> </h3></li>
    </ul>
  </div>
  <h3 ng-show="city"> Hay <strong>{{list.length}}</strong> personas que faltan en <span ng-show="city"> {{city}} </span></h3>

  <div class="row" ng-repeat="profile in list">
     <div class="two columns">
      <div class="image circle">
              <img ng-src="{{profile.photo}}"/>

      </div>
    </div>
    <div class="eleven columns">
    <h3>
        <a href="#/encontremos/{{profile.shortName}}">{{profile.name}}</a>
      </h3>
    </div>
  </div>

</div>