<div class="row">
 <h1>Personas Perdidas </h1>
</div>
<div class="row">
  <h4>¿Cómo podés ayudar?</h4>

  <ol>
    <li><h1>Buscá un caso</h1></li>
    <li><h1> Difundí
            <a href="http://www.facebook.com/events/1450927081799187/" target="_blank">
              <i class="icon-facebook-circled icon-big"></i>
            </a>
            <a href="http://twitter.com/hackatonlitoral" target="_blank">
              <i class="icon-twitter-circled icon-big"></i>
            </a>
            <a href="http://tumblr.com/hackatonlitoral" target="_blank">
              <i class="icon-tumblr-circled icon-big"></i>
            </a></h1>
    </li>
  </ol>
   <div class="large success btn">
      <a href="#/elegi" ng-click="showList()">Empezá ya!</a>
  </div>
</div>