extends layout
block meta
    meta(name="keywords", content="fertility, insurance, emotions, diagnosis, cancer navigation, cancer, LIVESTRONG Foundation, LIVESTRONG, LIVESTRONG Day, LIVESTRONG Challenge, wristbands, yellow wristbands, Team LIVESTRONG")

block content
    div(ng-app="missing-io",class="")
        div(ng-view, class=" ng-scope-view")
block scripts
    script(src='/js/apps/core/controllers/main.js')
    script(src='/js/apps/core/controllers/detalle.js')
    script(src='/js/apps/core/controllers/start.js')
    script(src='/js/apps/core/services/profiles.js')
    script(src='/js/apps/core/app.js')