body{
  max-width: 140px !important;
  width:140px  !important;
  max-height:200px !important;
  height:200px !important;
  display:block  !important;
  overflow: hidden;
}
.banner-container{
  max-width: 140px !important;
  width:140px  !important;
  max-height:200px !important;
  height:200px !important;
  display:block  !important;
  overflow: hidden;
}

  .column, .columns {
    width: inherit !important;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
